<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="VeriErisimKatmanı.Properties.Settings.obs1ConnectionString"
            connectionString="Data Source=DESKTOP-K1UFDCN;Initial Catalog=obs1;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>